.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
        background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    min-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
}

.header {
    display: flex;
        align-items: center;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        padding-top: 12px;
        padding-bottom: 12px;
    }

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo-web {
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #2e2f42;
        display: flex;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 149px;
    display: flex;
}

.header-menu-link-studio {
    display: none;
}

.header-menu-link {
    display: none;
}
.header-address-link {
    display: none;
}

.header-mobile-menu {

}

.hero {
    background: #2e2f42;
    background-image: linear-gradient( 
        rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-hero.jpg);
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
    font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  width: 216px;
  padding-top: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn-link {
            font-weight: 500;
            line-height: 1.5;
            text-align: left;
            color: #ffffff;
            background-color: #4d5ae5;
            letter-spacing: 0.04em;
            cursor: pointer;
            border-radius: 4px;
            padding: 16px 32px;
            min-width: 169px;
            height: 56px;
            border: none;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

.hero-btn-link:hover,
.hero-btn-link:focus {
    background-color: #404BBF;
}
                                    /* features */

.features {
display: flex;
padding: 96px 0;
}

.features-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-align: center;
        color: #2e2f42;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.features-list {
    display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
    gap: 72px;
}

.features-content {
    display: block;
}

.features-icons-wrap {
   display: none;
} 

.features-text {
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

                                   /* subject */
.subject {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.subject-container {
    width: 264px;
    margin-left: 28px;
}

.subject-title {
    background-color: #F4F4FD;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.subject-list {
display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}

.subject-item {
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 0 0 4px 4px;
        width: 100%;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
          0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.subject-title-wrap {
     padding: 32px 0; 
}

.subject-item-subtitle {
      font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        text-align: center;
        margin-bottom: 8px;
}

.subject-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #434455;
        display: block;
        text-align: center;
        margin-bottom: 8px;
}

.social-links-wrap {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-links {
        display: flex;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #4d5ae5;    
}   
.subject-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subject-link:hover,
.subject-link:focus {
    background-color: #404bbf
}

.social-links-icons {
    fill: #f4f4fd;
}

                                 /* portfolio */
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        text-transform: capitalize;
        display: block;
        margin-bottom: 72px;
}

.portfolio-list {
    display: block;
    align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio-text-wrap {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-item {
        background: #fff;
        position: relative;
        overflow: hidden;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-item:hover .portfolio-cover-text {
transform: translateY(0);
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px ;
    font-weight: 400;
    line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    margin-bottom: 8px;
}

.portfolio-item-image {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.portfolio-item-text {
    font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.headline {
    font-size: 20px;
        font-weight: 500;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
    }

                                  /* footer */
.footer { 
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.footer-container-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo {
           font-family: "Raleway", sans-serif;
             font-size: 18px;
             font-weight: 700;
             line-height: 1.17;
             letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 16px;
             color: #4d5ae5;
             display: inline-block;
             margin-bottom: 17.5px;
             width: 116px;
             align-self: center;
             margin-right: 0;
}

.footer-logo-studio {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        /* max-width: 264px; */
        max-width: 288px;
    }

.footer-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
}

.footer-media-wrap {
    width: 208px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-right: auto;
  margin-left: auto;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}

.footer-social-links:hover,
.footer-social-links:focus {
    background-color: #31d0aa;  
}

.footer-social-links-icons {
    fill: #f4f4fd;
}

.footer-link {
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
    }

.footer-form-email {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
        }

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px; 
    font-weight: 400;
    line-height: 2; 
   letter-spacing: 0.04em;
color: #fff;
padding-left: 16px;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
 font-family: "Roboto", sans-serif; 
min-width: 165px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
padding: 8px 24px;
background-color: #4d5ae5;
border: none;
font-size: 16px; 
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
text-align: center;
color: #ffffff;
cursor: pointer;
border: none;
fill: #fff;
}

.footer-icon {
    margin-left: 16px;
}

                                           /* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    position: absolute;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;
    
  }

.modal-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 24px;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer; 
}

.modal-close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
  }
  
.modal-title {
font-size: 16px;
font-weight: 500;
letter-spacing: 0.02em;
line-height: 1.5;
text-align: center;
color: #2e2f42;
    margin-bottom: 16px;
  }

.modal-field {
    margin-bottom: 16px;
  }

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-wrap {
    margin-bottom: 8px;
  }

.modal-label {
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 
    display: block; 
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent; 
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:focus {
    border-color:  #4d5ae5;
    transition: background-color 250ms (0.4, 0, 0.2, 1);
  }
  
  .modal-input:focus + .modal-icon {
    fill: #4d5ae5;
    transition: background-color 250ms (0.4, 0, 0.2, 1);
  }

  .modal-icon {
    position: absolute;
    fill: transparent;
    fill: #2e2f42;;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: stroke 300ms linear;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  .modal-input-wrap {
    position: relative;
  }
  
  .modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    resize: none;
  }
  
  .modal-text:focus {
    border-color: #4D5AE5; 
  }

  .check-text {
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .checkbox-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
  
  .check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
  }

.modal-check:checked + .check-text span {
   background-color: #404bbf;
   border: none;
   fill: #f4f4fd;;
  }
  
.modal-btn {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
letter-spacing: 0.04em;
text-align: center;
margin: 0 auto;
background-color: #4d5ae5;
display: block;
cursor: pointer;
color: #ffffff;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


                         /* mobile-menu */
.mobile-menu {
    background: #fff;
    padding: 72px 16px 40px;
    position: fixed;
    top: 0;
    width: 320px;
    min-height: 640xp;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility: visible;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  
  .mobile-menu-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
  }
  .close-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #2e2f42;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    flex-grow: 1;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 0;
  }
  .menu-mobile {
    color: #404bbf;
  }

  .mobile-address-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .address-mobile {
    color: #4d5ae5;
  }
  .mobile-address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 168px;
    margin-bottom: 48px;
  }
  
  .mobile-menu-social {
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin: 0;
  }

.social-net-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}
.social-net-icon {
    fill: #f4f4fd; 
}
  
@media screen and (min-width: 768px) {
    .container {
        max-width: 1157px;
    }
    .mobile-menu {
        display: none;
      }
      .header-menu-list {
        display: flex;
        gap: 40px;
   }
   .header-menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
}

.header-menu-link-studio::before {
    border-radius: 2px;
    width: 48px;
    height: 4px;  
    background: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
} 
.header-menu-link-studio {
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link-studio:hover,
.header-menu-link-studio:focus {
    color: #404bbf;
} */

.header-address {
    font-style: normal;
    display: flex;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
     color: #404bbf;
} */


   }

    @media screen and (min-width: 1158px) {
        
        
       }